<!-- Título -->
<p class="text-center fs-1">Nuevo Servicio</p>

<br>

<!-- Formulario -->
<div class="custom-center-form">
  <form (ngSubmit)="newService()" #newServiceForm="ngForm" class="custom-form needs-validation" method="post">
    <div class="form-group mb-3">
      <label for="nombre"><b>Nombre del servicio</b></label>
      <input type="text"  size="50" class="form-control" id="nombre" required [(ngModel)]="nombre" name="nombre" placeholder="Servicio de ...">
    </div>
    <div class="mb-3">
      <label for="Tipo"><b>Tipo de servicio</b></label>
      <select [(ngModel)]="tipo"  [ngModelOptions]="{standalone: true}" class="form-select" aria-label="Default select example">
        <option value="Recital">Recital</option>
        <option value="Food truck">Food truck</option>
        <option value="Limpieza">Limpieza</option>
        <option value="Circo">Circo</option>
        <option value="Otro">Otro</option>
      </select>
      <small id="id" class="form-text text-muted">Debe seleccionar una opción.</small>

    </div>
    <div class="mb-3">
      <label for="url"><b>url de servicio</b></label>
      <input type="text" class="form-control" id="url" required [(ngModel)]="url" name="url" placeholder="www.servicioDeLimpieza.com.ar">
    </div>
    <div class="mb-3">
      <label for="redes"><b>Redes sociales</b></label>
      <input type="text" class="form-control" id="redes" required [(ngModel)]="redesSociales" name="redes" placeholder="@ServiLimpio">
    </div>
    <div class="mb-3">
      <label for="telefono"><b>telefono </b></label>
      <input type="text" class="form-control" id="telefono" required [(ngModel)]="telefono" name="telefono" placeholder="2213642589">
    </div>
    <div class="mb-3">
      <label for="descripcion"><b>Descripcion del servicio</b></label>
      <textarea  class="form-control" id="descripcion" required [(ngModel)]="descripcion" name="descripcion" placeholder="El servicio se trata de....">
      </textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-success"
    [disabled]="!newServiceForm.form.valid">Registrar servicio</button> &nbsp; 
    <button class="btn btn-lg btn-danger" (click)="cancelar()"> cancelar</button>
 
    
    
  </form>
</div>