<!-- Título -->
<p class="text-center fs-1">Editar Servicio {{id}}</p>
<form (ngSubmit)="save()" #saveForm="ngForm" class="custom-form needs-validation" method="post">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" required [(ngModel)]="service.nombre" name="nombre" >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Tipo</label>
    <select class="form-select" aria-label="Default select example">

     <option value="Recital" ng-select >Recital</option>
      <option value="Food truck"   >Food truck</option>
      <option value="Limpieza" selected = {{service.tipo == 'Limpieza'}}>Limpieza</option>
      <option value="Circo"   >Circo</option>
      <option value="Otro"    >Otro</option>
    </select>

  </div>
  <div class="form-group">
    <label for="desc">Descripción</label>
    <input type="text" class="form-control" id="desc" required [(ngModel)]="service.descripcion" name="desc" placeholder="Descripción">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">URL</label>
    <input type="url" class="form-control" id="url" required [(ngModel)]="service.url" name="url" placeholder="URL">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Redes sociales</label>
    <input type="text" class="form-control" id="rrss" required [(ngModel)]="service.redesSociales" name="rrss" placeholder="Redes Sociales">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Teléfono</label>
    <input type="tel" class="form-control" id="telefono" required [(ngModel)]="service.telefono" name="telefono" placeholder="Teléfono">
  </div>
  <br>
  <button type="submit" class="btn btn-success" [disabled]="!saveForm.form.valid">Enviar</button>
  &nbsp;
  <a href="/services" class="btn btn-danger">Cancelar</a>
</form>


<br>
