<!-- Título -->
<p class="text-center fs-1">Sistema de reservas de servicios</p>

<br>

<img src="../../../assets/img/home.png" alt="" width="50%" class="center">

<br>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<br>

<h2>Ranking de servicios</h2>
<hr>

<div class="home-div" style="text-align: center;">

  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>

  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>

  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>

  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>
  
  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>

  <div class="card border-dark mb-3 card-child home-div">
    <div class="card-header bg-transparent border-dark">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-dark">Footer</div>
  </div>

</div>