<!-- Título -->
<p class="text-center fs-1">Sistema de reservas de servicios</p>

<br>

<img src="../../../assets/img/home.png" alt="" width="50%" class="center">

<br>

<p> Bienvenido a Reservas. En esta pagina tendras la posibilidad de ofrecer servicios y/o acceder a servicios ofrecidos por otras personas.
    Tenemos la filosofia el cual creemos que todos aquellos que quieran ofrecer o contratar un servicio lo hagan de forma gratuita y respaldada por nosotros.
</p>
<p>Nuestra pagina esta en constante actualizaciones y nuevas mejoras que van ir surgiendo a lo largo del mes </p>

<br>

<h2 class="text-center">Ranking de servicios</h2>
<hr>

<div class="home-div" style="text-align: center;">

  <div class="card border-dark mb-3 card-child home-div text-white bg-secondary" *ngFor="let data of datita">
    <h1 class="card-header bg-transparent border-dark">{{data.nombre}}</h1>
    <div class="card-body text-dark">
      <h5 class="card-title">{{data.tipo}}</h5>
      <p class="card-text">{{data.descripcion}}</p>
    </div>
    <div class="card-footer bg-transparent border-dark">dueño: {{data.duenio.nombre}}</div>
  </div>

</div>