<!-- Título -->
<p class="text-center fs-1">Mis servicios ofrecidos</p>
<br>

<!-- <h2 *ngIf="datita" > </h2> -->
<div *ngIf="datita; else loggedOut">
  <h2 class="text-center" >  Listado completo</h2>
</div>

<ng-template #loggedOut>
  <div class = "text-center">
  <h2  >Usted no esta brindado servicios</h2>
  
  <button (click)="crearServicio()" type="button" class="btn btn-lg btn-success "  >Crear nuevo Servicio</button>
</div>
</ng-template>

<hr>

<div class="home-div " style="text-align: center;">
 
  <div class="card border-dark card-child home-div text-white bg-secondary" *ngFor="let data of datita">
    <h1 class="card-header bg-transparent border-dark">{{data.nombre}}</h1>
    <div class="card-body text-dark">
      <h2 class="card-title">{{data.tipo}}</h2>
      <p class="card-text">{{data.descripcion}}</p>
    </div>
    <div>
      <h3 class="card-footer bg-transparent border-dark">{{data.telefono}}</h3>
      <h3 class="card-footer bg-transparent ">{{data.url}}</h3>
      <h3 class="card-footer ">{{data.redesSociales}}</h3>

       <button (click)="edit(data)" type="button" class="btn btn-link" style="text-decoration: none;" data-toggle="tooltip" data-placement="top" title="Editar el servicio">✏️</button>

    <button (click)="delete(data.id,data.nombre)" type="button" class="btn btn-link" style="text-decoration: none;" data-toggle="tooltip" data-placement="top" title="Eliminar el servicio" >🗑️</button>
  </div>
</div>

</div>